@font-face{
    font-family: 'LHANDW';
    src:url("../font/LHANDW.TTF");
}

body{
    font-family: 'LHANDW';
}

.container {
    display: flex;
    flex-direction: column;
}

.selectContainer {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #bbbbbb;
}

.card {
    width: auto; 
    height: auto;
    max-width: 200px;
    max-height: 200px;
}

.comment {
    width: 600px;
}

.moreExplanation {
    font-size: 18px;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}