@font-face{
    font-family: 'LHANDW';
    src:url("../font/LHANDW.TTF");
}

body{
    background-image:url('../image/main.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.mainText{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 350px;
    font-family: 'LHANDW';
    font-size: 30px;
}

.mainButton-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}

.mainButton{
    width: 130px;
    height: 40px;
    font-size: 18px;
    color:black;
    border-color: black;
    border-width: 1px;
    background-color:white;
    font-family: 'LHANDW';
}

.mainButton:hover {
    transform: scale( 1.2 );
}