@font-face{
    font-family: 'LHANDW';
    src:url("../font/LHANDW.TTF");
}

body {
    background-image:url('../image/main.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 230px;
    padding-right: 230px;
}

.mainText{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color:white;
    height: 200px;
    font-family: 'LHANDW';
}

.resultImage{
    display: flex;
    justify-content: space-between;
    height: 600px;
}

.cardImage{
    width: 300px;
    height: 500px;
    object-fit: contain;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.resultButton{
    width: 160px;
    height: 40px;
    font-size: 18px;
    color:black;
    border-color: black;
    border-width: 1px;
    background-color:white;
    font-family: 'LHANDW';
}

.resultButton:hover {
    transform: scale( 1.2 );
}