@font-face{
    font-family: 'LHANDW';
    src:url("../font/LHANDW.TTF");
}

body{
    background-image:url('../image/main.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'LHANDW';
}

p{
    color:white;
}